<section ng-app="RenterApp" ng-controller="RenterCtrl">
  <h1>Renter Login</h1>
<form ng-submit="handleLoginBtnClick()" role="form" ng-init="loginForm = {}">
  <div class="form-group">
    <label>mobile number</label>
    <input type="text" name="mobile_number" ng-model="loginForm.mobile_number" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
</form>
</section>