<div class="card">
  <div class="card-block">


          <p class="card-text">
            <span class="text-muted"> <%= message.imageable.email %> at <%= message.timestamp %> says</span><br>
            <%= message.body %>
          </p>


  </div>
</div>
