<div class="card">
  <div class="card-block">
    <div class="row">
      <!-- if message belongs to agent -->
      <% if message.agent_id %>
        <div class="col-md-11">
          <p class="card-text">
            <span class="text-muted"> at <%= message.timestamp %> says</span><br>
            <%= message.body %>
          </p>
        </div>
      <% end %>
      <!-- if message belongs to renter -->
      <% if message.renter_id %>
        <div class="col-md-11">
          <p class="card-text">
            <span class="text-muted"> at <%= message.timestamp %> says</span><br>
            <%= message.body %>
          </p>
        </div>
      <% end %>

    </div>
  </div>
</div>
